/*
Theme Name: Layerswp Child
Description: Layerswp Child Theme
Author: Khaliullin Ildar
Template: layerswp
Version: 0.0.6
Text Domain: layerswp-child
*/

@font-face {
  font-family: 'Geometria';
  font-style: normal;
  src: url(/wp-content/themes/layerswp-child/fonts/Geometria.woff) format("woff"),
       url(/wp-content/themes/layerswp-child/fonts/Geometria.ttf) format("truetype");
}
/* @font-face {
  font-family: 'Geometria-Bold';
  font-style: normal;
  src: url(/wp-content/themes/layerswp-child/fonts/Geometria-Bold.woff) format("woff"),
       url(/wp-content/themes/layerswp-child/fonts/Geometria-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Geometria-Light';
  font-style: normal;
  src: url(/wp-content/themes/layerswp-child/fonts/Geometria-Light.woff) format("woff"),
       url(/wp-content/themes/layerswp-child/fonts/Geometria-Light.ttf) format("truetype");
}
@font-face {
  font-family: 'Geometria-Thin';
  font-style: normal;
  src: url(/wp-content/themes/layerswp-child/fonts/Geometria-Thin.woff) format("woff"),
       url(/wp-content/themes/layerswp-child/fonts/Geometria-Thin.ttf) format("truetype");
} */

section.wrapper-content {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #efefef;
  position: relative;
}

#wrapper-content {
	padding-bottom: 50px;
	padding-top: 50px;
}

.page-id-26 .container.list-masonry {
  max-width: 1200px;
}

.fixed-mob-icon {
  display: none;
}


@media screen and (min-width: 800px){
	.page-id-26 #wrapper-content #layers-widget-column-77 > .container {
		padding: 70px 0;
	}
}
@media screen and (max-width: 576px) {
	#layers-widget-slide-11 {
		height: 170px!important;
	}
	#layers-widget-slide-11 a.swiper-slide {
		height:100%!important;
	}
}

.type_one {
display: flex;
}
.container {
	width: 80%;
  max-width: 1200px!important;
}
.grid .media .button {
	width:100%
}
.type_two {
	height: 650px;
	display: flex;
}
.cont_left {
	width:50%;
	margin: auto;
}
.cont_right {
	width:50%;
	height: calc(100vh - 370px);
}
.post-feature-thumbnail {
	display:none !important;
}
.post {
	padding-top: 40px;
}
#ninja_forms_widget-4 {
width:500px;
margin:auto;
padding-top: 0px;
padding-bottom:20px;
}
.nf-form-fields-required {display:none;
}

.pull-right {
float:none;
}
.home_hero {
height: calc(100vh - 340px) !important;
}
.thumbnail-body {
	padding-left:0;
	padding-right:0;
}
.thumbnail-body .heading {
	font-size: 1.4rem;
}
.button {
	font-size: 1.2rem;
}
.thumbnail-body .button {
	width: 100%;
}
.thumbnail-body {
	background-color:transparent !important;}
.layers-masonry-column {
	background-color:transparent !important;
}
#ninja_forms_widget-6 {
width:500px;
margin:auto;
padding-top: 0px;
padding-bottom:20px;
}

.layers-widget-slide-3-905 {
	height: calc(100vh - 340px) !important;
}
.wrapper-content {
background-image: url(/Xoroshee-mesto/kart/fon.jpg)!important;
}

body.page-id-30 .wrapper-site .header-secondary, body.page-template-booking .wrapper-site .header-secondary {
	display: none;
}

#layers-widget-slide-11 .swiper-slide {
  background-size: auto 100%;
}

.has-image .media-body, .has-image .media-body a.button {
	margin-top: 0;
}

.layers-masonry-column .media {
	padding-top: 15px;
}

.layers-content-widget {
	padding: 20px 0!important;
}
.event-description p {
	margin: 0;
}
.is-style-chief-reciept {
	grid-template-columns: 30% auto;
}
.is-style-chief-reciept .wp-block-media-text__content {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px;
  min-height: auto;
}
.is-style-chief-reciept .wp-block-media-text__content p {
	padding: 0 60px 0 25px;
}
div.hsp section.event-gallery, div.hsp section.spaces {
	 background-size: cover;
}

@media screen and (min-width: 800px){
	.page-id-26 #wrapper-content #layers-widget-column-77 > .container {
		padding: 70px 0;
	}
}
@media screen and (max-width: 576px) {
	#layers-widget-slide-11 {
		height: 170px!important;
	}
	#layers-widget-slide-11 a.swiper-slide {
		height:100%!important;
	}
	#wrapper-content > .container {
		padding: 0px!important;
	}
}